In [2]:
# Dir where all the HD files are
base_dir = "/home/parth/Machine Learning/Datasets/North Corp/Ajanta"

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
data = []
files = os.listdir(base_dir)
for file in files:
    if file.endswith(".csv"):
        data.append(pd.read_csv(os.path.join(base_dir , file)))

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
for vehicle in data[0].vehicleid.unique():
    print(len(data[0][data[0].vehicleid == vehicle].gtpdriverid.unique()))

1

In [6]:
data[0].columns

Index(['Unnamed: 0', 'positionid', 'vehicleid', 'gtpdriverid', 'version',
       'heading', 'latitude', 'longitude', 'altitude', 'address',
       'updateddate', 'total_fuel_consumption', 'total_engine_hours',
       'total_distance', 'time_sweetspot', 'time_idle', 'time_pto',
       'time_drive', 'speed', 'msg_trigger_type', 'current_fuel_level',
       'received_date'],
      dtype='object')

In [51]:
# ADD columns to be included
useful_cols = [ "vehicleid" , "updateddate" , "total_engine_hours"]

In [52]:
for i in range(len(data)):
    data[i] = data[i][useful_cols]

In [53]:
for i in range(len(data)):
    data[i]["date"] = data[i]["updateddate"].apply(lambda x: x.split(' ')[0])

In [54]:
for i in range(len(data)):
    data[i]["Day_Hours"] = data[i]["updateddate"].apply(lambda x: int(x.split(' ')[1].split(':')[0]))

In [55]:
from itertools import chain
night_range = chain(range(6) , range(22 , 24))
nt = []
for n in night_range:
    nt.append(n)
night_range = nt
del nt
day_range = range(6 , 16)
evening_range = range(16 , 22)

In [1]:
data

NameError: name 'data' is not defined

In [62]:
complete_data = []
for i in range(len(data)):
    first = True
    for day in data[i].date.unique():
        x = data[i][ np.logical_and( data[i].date == day  ,  data[i].Day_Hours.isin(night_range))]["total_engine_hours"]
        night_drive = x.max() - x.min()
        x = data[i][ np.logical_and(data[i].date == day ,data[i].Day_Hours.isin(day_range))]["total_engine_hours"]
        day_drive = x.max() - x.min()
        x = data[i][np.logical_and(data[i].date == day , data[i].Day_Hours.isin(evening_range))]["total_engine_hours"]
        eve_drive = x.max() - x.min()
        
        mini_dat = pd.DataFrame([[day , night_drive , day_drive , eve_drive]] , 
                                columns=["Day" , "Night Drive" , "Day Drive" , "Evening Drive"])
        if first:
            complete_data.append(mini_dat)
            first = False
        else:
            complete_data[i] = complete_data[i].append(mini_dat)

In [63]:
## for the zeroth device
complete_data[0]

           Day  Night Drive  Day Drive  Evening Drive
0   2018-12-01         0.25       3.40           0.05
0   2018-12-02         8.95       1.45           4.55
0   2018-12-03         3.85       0.20           0.00
0   2018-12-04         0.40       3.35           2.10
0   2018-12-05         6.55       3.15           1.20
0   2018-12-06         0.40       3.10           0.00
0   2018-12-07         0.00       0.00            NaN
0   2018-12-08         0.75       0.70           3.00
0   2018-12-09         2.60       0.65            NaN
0   2018-12-10         7.20       1.60           3.05
0   2018-12-11         1.10       3.35           0.40
0   2018-12-12         0.05       0.00            NaN
0   2018-12-13         0.40        NaN            NaN
0   2018-12-14         9.90       4.65           0.00
0   2018-12-15         0.90       5.05           1.65
0   2018-12-16         1.55       0.05            NaN
0   2018-12-17         1.40       6.55           0.00
0   2018-12-18         7.00       5.70            NaN
0   2018-12-19         1.95       0.00            NaN
0   2018-12-20         2.20       1.20           0.25
0   2018-12-21         1.15       0.00           0.90
0   2018-12-22        14.00       5.00           5.20
0   2018-12-23         4.10       0.70           0.00
0   2018-12-24         8.55       3.90           2.30
0   2018-12-25         9.75       3.65           1.75
0   2018-12-26         0.30       4.55           0.00
0   2018-12-27         0.05       1.65           0.00
0   2018-12-28         0.20       2.25           1.90
0   2018-12-29         0.00        NaN            NaN
0   2018-12-30         0.10       3.75           0.25
..         ...          ...        ...            ...
0   2019-04-28          NaN       1.10           0.10
0   2019-04-29         0.00       2.85           5.75
0   2019-04-30         0.70       5.20           2.20
0   2019-05-01          NaN       0.00            NaN
0   2019-05-04         1.25        NaN           1.05
0   2019-05-05         0.15       1.90           3.20
0   2019-05-06        12.00       1.50           4.15
0   2019-05-07         2.05       2.10           0.80
0   2019-05-08          NaN       2.45           0.70
0   2019-05-09        12.35       8.90           1.95
0   2019-05-10          NaN       0.10           2.70
0   2019-05-11        10.50       6.25           1.60
0   2019-05-12         0.80       0.00            NaN
0   2019-05-13         5.30       2.40           1.65
0   2019-05-14         9.65       2.50           0.95
0   2019-05-15         7.25       0.00            NaN
0   2019-05-16        13.55       6.20           0.20
0   2019-05-17         0.05       0.00            NaN
0   2019-05-18         3.15       1.65           0.25
0   2019-05-19         1.80       0.30           1.15
0   2019-05-20         3.80       0.20           3.25
0   2019-05-21         3.60       6.45           1.60
0   2019-05-22         3.90       0.15           1.60
0   2019-05-23         4.85       1.00            NaN
0   2019-05-24         1.15       1.80           0.85
0   2019-05-25         1.35       7.75           0.60
0   2019-05-26         4.30       1.65           0.40
0   2019-05-27         0.75       1.65            NaN
0   2019-05-28         7.25       2.30           3.90
0   2019-05-29         4.60       3.40            NaN

[176 rows x 4 columns]